div.static {
    position: static;
    right: 15px;
    width: 350px;
    border: 4px solid black;
    background-image: url(../images/wzor.jpg);
}
 div.relative {
    position: relative;
    left: -10px;
    border: 5px solid red;
     background: url('../images/obrazek2.jpg') no-repeat center;
     margin: 10px;
     
}
div.fixed {
    position: fixed;
    border: 10px solid yellow;
    background: url('../images/obrazek.jpg');
}
